@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #020617; /* slate-950 */
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Zamezí scrollování celého okna */
  overscroll-behavior: none; /* Zamezí "pružení" na iOS */
  background-color: #020617;
}
